* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #494949;
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif
}

p {
    font-size: 16px
}

h2 {
    font-size: 40px;
}

header {
    background-image: url(images/chata.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center 100%;
    background-attachment: fixed;
    background-size: cover;
}

.me {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about {
    margin: 0 auto;
    z-index: 100;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.about.dropdown * {
    padding: 20px 10px;
}

.row {
    text-align: center;
    padding: 40px;
}

.fab {
    font-size: 72px;
}

.fa-html5 {
    color: #dd4b25;
}

.fa-css3-alt {
    color: #3595cf;
}

.fa-sass {
    color: #c66394;
}

.fa-js-square {
    color: #efd81d;
}

.fa-react {
    color: #5ed3f3;
}

@media (max-width:575px) {
    .me {
        width: 60px;
        height: 60px;
    }

    .about {
        align-self: center;
        transform: translateY(20%);
        justify-content: center;
        align-items: center;
    }

    p {
        font-size: 16px;
        color: #000;
    }

    h2 {
        font-size: 32px;
        color: #000;
    }
}

@media (min-width: 575px) {
    .me {
        width: 100px;
        height: 100px;
    }

    .about {
        align-self: center;
        justify-content: center;
        align-items: center;
        transform: translateY(10%);
    }

    p {
        font-size: 20px;

    }

    h2 {
        font-size: 40px;
    }
}

@media (min-width: 992px) {
    .me {
        width: 200px;
        height: 200px;
    }

    .about {
        display: inline-flex;
        align-self: center;
        text-align: left;
        transform: translate(50%, 50%);
    }

    p {
        font-size: 16px;
        color: #fff;
    }

    h2 {
        font-size: 40px;
        color: #fff;
    }
}