* {
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(209, 209, 209);
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif
}

p {
    font-size: 16px
}

h2 {
    font-size: 40px;
}

.no-padd {
    padding: 0
}

.intro {
    padding: 70px 0
}


header {
    background-image: url(images/chata.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center 100%;
    background-attachment: fixed;
    background-size: cover;
}

.me {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about {
    margin: 0 auto;
    z-index: 100;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.about.dropdown * {
    padding: 20px 10px;
}

.row {
    text-align: center;
}

.fab {
    font-size: 72px;
}

.fa-html5 {
    color: #dd4b25;
}

.fa-css3-alt {
    color: #3595cf;
}

.fa-sass {
    color: #c66394;
}

.fa-js-square {
    color: #efd81d;
}

.fa-react {
    color: #5ed3f3;
}

@media (max-width:575px) {
    .me {
        width: 60px;
        height: 60px;
    }

    .about {
        align-self: center;
        transform: translateY(50%);
        justify-content: center;
        align-items: center;
    }

    .about p {
        font-size: 16px;
        color: #000;
    }

    .about h2 {
        font-size: 32px;
        color: #000;
    }

    .flex-end {
        flex-direction: column-reverse;
    }

    .box-text {
        margin-bottom: 60px;
        margin-top: 60px;
    }
}

@media (min-width: 575px) {
    .me {
        width: 100px;
        height: 100px;
    }

    .about {
        align-self: center;
        justify-content: center;
        align-items: center;
        transform: translateY(30%);
    }

    .about p {
        font-size: 20px;

    }

    .about h2 {
        font-size: 40px;
    }
}

@media (min-width: 992px) {
    .me {
        width: 200px;
        height: 200px;
    }

    .about {
        display: inline-flex;
        align-self: center;
        text-align: left;
        transform: translate(50%, 80%);
    }

    .about p {
        font-size: 16px;
        color: #fff;
    }

    .about h2 {
        font-size: 40px;
        color: #fff;
    }
}

.boxes-title {
    max-width: 80%;
    margin: auto;
}

.boxes-title h3 {
    font-family: "Poppins", sans-serif;
    max-width: 50%;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 5px solid #663399;
}

.box-tot {
    align-content: space-between;
    display: flex;
    align-items: center
}

.box-tot .box-text {
    padding: 20px 40px
}

.pr-btn {
    background-color: #663399;
    padding: 25px 45px;
    border-radius: 36px;
    display: inline-block;
    color: #FFCA40;
    transition: ease 1s;
}

.pr-btn:hover {
    color: #663399;
    background-color: #FFCA40;
    text-decoration: none;
}

.pr-btn-small {
    background-color: #663399;
    padding: 12px 20px;
    border-radius: 36px;
    display: inline-block;
    color: #FFCA40;
    transition: ease 1s;
}

.pr-btn-small:hover {
    color: #663399;
    background-color: #FFCA40;
    text-decoration: none;
}

.bg-holder {
    background-image: url(images/dolina.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-attachment: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column
}

.bg-holder .bg-text {
    text-align: center;
    width: 65%;
    margin: auto;
    color: #fff;
}

.mini-box {
    text-align: center;
    padding: 40px;
    margin-top: 25px
}

.boxes .mini-box .box-img {
    background-color: #663399;
    border-radius: 50%;
    height: 88px;
    width: 88px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center
}

.img-full {
    width: 100%;
    height: auto
}

.boxes .mini-box h4 {
    margin-top: 30px;
    margin-bottom: 18px
}

#contact {
    background-color: #663399;
    padding-top: 58px;
    text-align: center;
    color: #000000
}

.card {
    background-color: #d1d1d1;
    border-bottom: 0.25rem solid #FFCA40;
    border-radius: 15px;
}

.card-body i {
    font-size: 20px;
    color: #663399;
}

.card-body h5 {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 4px solid #663399;
}

.card-container {
    margin-bottom: 58px;
}

footer {
    background-color: #663399;
    padding-bottom: 58px;
    text-align: center;
    color: #fff;
}

footer p {
    font-size: 16px
}